thead {
    border-color: blue;
}

.sombreado {
    text-shadow: 1px 0 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255), 1px 1px rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 black, -1px 1px 0 rgb(255, 255, 255), 3px 3px 4px #ffffff;
}

#golesLocal, #golesVisitante {
    width:30px;
    text-align: center;
}